Crypto/.vs/
Crypto/Crypto.Core/bin/
Crypto/Crypto.Core/obj/
Crypto/Crypto/Crypto.Android/bin/
Crypto/Crypto/Crypto.Android/obj/
Crypto/Crypto/Crypto.iOS/bin/
Crypto/Crypto/Crypto.iOS/obj/
Crypto/Crypto/Crypto/obj/
Crypto/Crypto/Crypto/bin/Debug/
Crypto/Crypto.Infrastructure/obj/
Crypto/Crypto.Infrastructure/bin/
